[submodule "include/minilibx-linux"]
	path = include/minilibx-linux
	url = https://github.com/42Paris/minilibx-linux
[submodule "include/libft"]
	path = include/libft
	url = https://github.com/app-gitKaiwho/libft
